<header class="top-bar">
    <div class="left">
        <span><i class="fa-solid fa-phone"></i> 0967663867</span>
        <span><i class="fa-solid fa-envelope"></i> info&#64;cariol.com</span>
    </div>
    <div class="right">
        <div class="search-box">
            <input type="text" placeholder="Tìm kiếm...">
            <button><i class="fa-solid fa-search"></i></button>
        </div>
        <i class="fa-solid fa-user" (click)="openPopup('login')"></i>
        <i class="fa-solid fa-shopping-cart" (click)="toggleCart()"></i>
    </div>
</header>

<div class="menu">
    <div class="menu-left">
        <a routerLink="/aboutus">ABOUT US</a>
        <a routerLink="/blog">BLOG</a>
    </div>

    <div class="logo">
        <img src="/images/cariol-logo.png" alt="CARIOL">
    </div>

    <div class="menu-right">
        <!-- Dropdown cho các category -->
        <div class="dropdown" (mouseover)="showCategories=true" (mouseleave)="showCategories=false">
            <a routerLink="/products">SẢN PHẨM</a>
            <ul *ngIf="showCategories" class="dropdown-menu">
                <li *ngFor="let category of categories" (click)="onCategoryClick(category)">
                    {{ category.name }}
                </li>
            </ul>
        </div>
        <a routerLink="/faq">FAQ</a>
    </div>
</div>

<!-- OVERLAY MỜ KHI HIỂN THỊ POPUP -->
<div class="overlay" *ngIf="isPopupOpen()" (click)="closePopup()"></div>
<app-login *ngIf="currentPopup === 'login'" (switchPopup)="openPopup($event)" (close)="closePopup()"></app-login>
<app-register *ngIf="currentPopup === 'register'" (switchPopup)="openPopup($event)" (close)="closePopup()"></app-register>
<app-forgot-password *ngIf="currentPopup === 'forgotpw'" (switchPopup)="openPopup($event)" (close)="closePopup()"></app-forgot-password>
<app-cart *ngIf="currentPopup === 'cart'"></app-cart>
