.page {
    width: 100%;
    padding: 20px;
  }
 
  .page2 {
    max-width: 900px;
    margin: 0 auto;
  }
 
  .blog {
    font-family: Arial, sans-serif;
  }
 
  .blog-title {
    font-size: 2em;
    color: #333;
    text-align: center;
  }
 
  .blog2 {
    margin-top: 20px;
  }
 
  .blog-item {
    display: flex; /* Sử dụng flexbox để hình ảnh và tiêu đề nằm ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    margin-bottom: 20px;
    cursor: pointer;
  }
 
  .blog-item:hover {
    background-color: #f0f0f0;
  }
 
  .blog-image {
    width: 160px;  /* Kích thước hình ảnh */
    height: auto;
    margin-right: 20px;  /* Khoảng cách giữa hình ảnh và tiêu đề */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
 
  .blog-text {
    font-size: 1.2em;
    color: #2c3e50;
    font-weight: bold;
    margin: 0;
  }
 
