<div class="page">
  <div class="page2">
      <div class="blog">
          <h1 class="blog-title">Khám phá bài viết</h1>
          <hr class="divider">

          <div class="blog-list">
              <!-- Lặp qua danh sách blog -->
              <div class="blog-item" *ngFor="let blog of blogs" (click)="onBlogClick(blog._id)">

                  <div class="blog-info">
                      <h3 class="blog-text">{{ blog.title }}</h3>
                      <p class="blog-excerpt">
                          {{ blog.description || "Khám phá thêm về bài viết thú vị này." }}
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>