<div class="change-password-container">
    <h2>Đổi mật khẩu</h2>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
  
      <div class="form-group">
        <label for="oldPassword">Mật khẩu cũ:</label>
        <input id="oldPassword" formControlName="oldPassword" type="password" class="form-control" placeholder="Nhập mật khẩu cũ" required>
      </div>
  
      <div class="form-group">
        <label for="newPassword">Mật khẩu mới:</label>
        <input id="newPassword" formControlName="newPassword" type="password" class="form-control" placeholder="Nhập mật khẩu mới" required>
      </div>
  
      <div class="form-group">
        <label for="confirmPassword">Xác nhận mật khẩu mới:</label>
        <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control" placeholder="Xác nhận mật khẩu mới" required>
      </div>
  
      <div *ngIf="changePasswordForm.get('confirmPassword')?.hasError('mismatch') && changePasswordForm.get('confirmPassword')?.touched" class="error-message">
        Mật khẩu xác nhận không khớp!
      </div>

      <div class="button-group">
        <button type="submit" [disabled]="changePasswordForm.invalid" class="btn-save">Lưu thay đổi</button>
        <button type="button" class="btn-cancel" (click)="goBack()">Hủy</button>
      </div>
    </form>
  </div>
  