/* Container chính */
.dashboard-container {
    display: flex;
    flex-direction: column;
    margin: 2.5rem 1.5rem;
    background-color: #f3f3f3;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
    .dashboard-container {
        flex-direction: row;
        margin: 2.5rem 3rem;
        padding: 2.5rem;
    }
}

/* Nội dung chính */
.dashboard-content {
    flex-grow: 1;
    padding: 1.5rem;
    width: 100%;
    max-width: none;
    margin: 0;
    background: #efebe9;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
    .dashboard-content {
        width: 75%;
        margin-left: 2.5rem;
        padding: 2rem;
    }
}

/* Tiêu đề */
.dashboard-title {
    text-align: left;
    font-size: 1.875rem;
    font-weight: 600;
    color: #1f2937; 
    margin-bottom: 1.5rem;
}

/* Nhóm input */
.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.input-group label {
    font-size: 1.125rem; 
    font-weight: 500;
    color: #374151; 
    margin-bottom: 0.5rem;
}

.input-group input {
    padding: 0.75rem;
    border: 1px solid #d1d5db; 
    border-radius: 8px;
    font-size: 1rem;
    transition: border 0.3s, box-shadow 0.3s;
}

.input-group input:focus {
    border-color: #FF6A85;
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 106, 133, 0.3);
}

/* Thông báo lỗi */
.error-message {
    margin-top: 0.5rem;
    color: #dc2626; 
    font-size: 0.875rem;
}

/* Căn giữa nút */
.button-container {
    display: flex;
    justify-content: center;
}

/* Nút "Lưu thay đổi" */
.submit-button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: #f3f3f3;
    color: #333;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #675654;
    color: white;
}
