<div class="blog-detail">
    <h1>{{ blog?.title }}</h1>
    <p class="author">Author: {{ blog?.author }}</p>
    <p class="date">Published on: {{ blog?.createdAt | date:'dd/MM/yyyy' }}</p>
  
    <hr />
  
    <div class="content">
      <p>{{ blog?.content }}</p>
    </div>
  
    <!-- Nếu có hình ảnh thì hiển thị -->
    <div *ngIf="blog?.images?.length > 0" class="images">
      <h3>Images:</h3>
      <div *ngFor="let image of blog?.images">
        <img [src]="image" alt="Blog Image" width="300" />
      </div>
    </div>
  
    <div class="back-btn">
      <button (click)="goBack()">Back to Blogs</button>
    </div>
  </div>
  