<!-- src/app/components/blog/blog.component.html -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<div>
  <h1>Quản lý bài đăng</h1>
  <button (click)="router.navigate(['/blog-add'])">+ Bài đăng mới</button>

  <table>
    <thead>
      <tr>
        <th>Tiêu đề</th>
        <th>Tác giả</th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let blog of blogs">
        <td>{{ blog.title }}</td>
        <td>{{ blog.author }}</td>
        <td>
          <button (click)="editBlog(blog._id)"><i class="fa-solid fa-pen"></i></button>
          <button (click)="deleteBlog(blog._id)"><i class="fa-solid fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>