<br>
<div>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createProductModal">Create new Blog</button>
</div>

<br>

<table class="table table-striped table-bordered text-center">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Content</th>
        <th>Image</th>
        <th>Account Id</th>
        <th>Functions</th>
    </tr>
    <tr *ngFor="let d of data">
        <td>{{d._id}}</td>
        <td>{{d.title}}</td>
        <td>{{d.content}}</td>
        <td><img src="{{d.image}}" style="width: 200px" alt=""></td>
        <td>{{d.accountId}}</td>
        <td>
            <button class="btn btn-primary caret-violet-600" (click)="editBlog(d)" data-bs-toggle="modal" data-bs-target="#updateProductModal">Edit</button>
            <button class="btn btn-danger" (click)="deleteBlog(d)">Delete</button>
        </td>
    </tr>
</table>

<!-- Create Blog Modal -->
<div class="modal fade" id="createProductModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Blog</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInputTitle" name="title" [(ngModel)]="title">
                    <label for="floatingInputTitle">Title</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInputContent" name="content" [(ngModel)]="content">
                    <label for="floatingInputContent">Content</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInputImage" name="image" [(ngModel)]="image">
                    <label for="floatingInputImage">Image</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInputAccountId" name="accountId" [(ngModel)]="accountId">
                    <label for="floatingInputAccountId">Account Id</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="createBlog()">Create Blog</button>
            </div>
        </div>
    </div>
</div>

<!-- Update Blog Modal -->
<div class="modal fade" id="updateProductModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Blog</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInputTitleUpdate" name="title" [(ngModel)]="title">
                    <label for="floatingInputTitleUpdate">Title</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInputContentUpdate" name="content" [(ngModel)]="content">
                    <label for="floatingInputContentUpdate">Content</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInputImageUpdate" name="image" [(ngModel)]="image">
                    <label for="floatingInputImageUpdate">Image</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInputAccountIdUpdate" name="accountId" [(ngModel)]="accountId">
                    <label for="floatingInputAccountIdUpdate">Account Id</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updateBlog()">Update Blog</button>
            </div>
        </div>
    </div>
</div>
