<div class="cart-container">
    <table>
      <thead>
        <tr>
          <th>Thông tin chi tiết</th>
          <th>Đơn giá</th>
          <th>Số lượng</th>
          <th>Tổng giá</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cartItems; let i = index">
          <td>
            <img [src]="item.image" alt="{{ item.name }}">
            <div class="product-info">
              <strong>{{ item.name }}</strong>
              <p>Phân loại: {{ item.category }}</p>
              <span class="remove" (click)="removeItem(i)">Xóa</span>
            </div>
          </td>
          <td class="price">{{ item.price | number }}</td>
          <td>
            <button (click)="changeQuantity(item, -1)">-</button>
            <span>{{ item.quantity }}</span>
            <button (click)="changeQuantity(item, 1)">+</button>
          </td>
          <td class="total">{{ (item.price * item.quantity) | number }}</td>
        </tr>
      </tbody>
    </table>
  
    <div class="cart-summary">
      <h3>Tổng tiền <span>{{ getTotal() | number }}</span></h3>
      <button class="checkout-btn" (click)="buyNow()">THANH TOÁN</button>
    </div>
  
    <div *ngIf="cartItems.length === 0" class="empty-cart">
      <p class="empty-message">Bạn chưa có sản phẩm nào trong giỏ hàng</p>
      <button class="continue-shopping" (mouseover)="hover = true" (mouseleave)="hover = false" (click)="goToProducts()">
        Tiếp tục mua hàng
      </button>
    </div>
    
    
  </div>
  