<footer class="footer">
    <div class="footer-container">
        <div class="footer-group">
            <h2>Cariol</h2>
            <p>
                <i class="fa-solid fa-location-dot" style="color: #5f3e22;"></i>
                669 Đỗ Mười, KP 6, P. Linh Xuân, TP. Thủ Đức, TP.HCM.</p>
            <p>
                <i class="fa-solid fa-phone" style="color: #5f3e22;"></i> 
                0967663867
            </p>
            <p>
                <i class="fa-solid fa-envelope" style="color: #5f3e22;"></i>
                info&#64;cariol.com
            </p>
        </div>

        <div class="footer-group">
            <h2>Thông tin</h2>
            <a href="#">Trang chủ</a>
            <a href="/aboutus">Về chúng tôi</a>
            <a href="#">Các loại sản phẩm</a>
            <a href="/blog">Blog</a>
        </div>

        <div class="footer-group">
            <h2>Hỗ trợ</h2>
            <a href="#">Liên hệ</a>
            <a href="common-question">Câu hỏi thường gặp</a>
        </div>

        <div class="footer-group">
            <h2>Nhận Ưu Đãi</h2>
            <div class="footer-subscribe">
                <input type="email" [(ngModel)]="email" placeholder="Đăng ký để nhận ngay ưu đãi!">
                <button id="subscribe-btn" (click)="subscribe()">Đăng ký</button>
            </div>
            <div class="footer-social" style="gap: 20px">
                <a href="#">
                    <i class="fa-brands fa-facebook fa-xl" style="color: #5f3e22;"></i>
                </a>
                <a href="#">
                    <i class="fa-brands fa-instagram fa-xl" style="color: #5f3e22;"></i>
                </a>
                <a href="#">
                    <i class="fa-brands fa-tiktok fa-xl" style="color: #5f3e22;"></i>                
                </a>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        © Cariol 2025. All rights reserved.
    </div>

    <!-- Thông báo sẽ xuất hiện ở đây -->
    <div class="popup-message" [ngClass]="{'show': showMessage, 'success': messageType === 'success', 'error': messageType === 'error'}">
        {{ message }}
    </div>
</footer>